@use "../../styles/vars.scss" as *;

.input {
  width: 100%;
  background-color: $input;
  border: 1px solid $border;
  color: $foreground;
  border-radius: $radius-md;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  transition: all 0.2s ease;
  font-family: inherit;

  &:focus {
    outline: none;
    border-color: $primary;
    box-shadow: 0 0 0 2px rgba($primary, 0.3);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &::placeholder {
    color: $muted-foreground;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: $foreground;
    -webkit-box-shadow: 0 0 0px 1000px $input inset;
    box-shadow: 0 0 0px 1000px $input inset;
    transition: background-color 5000s ease-in-out 0s;
    border-color: $border;
  }
}

