@use "../../styles/vars" as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  white-space: nowrap;
  border-radius: $radius-md;
  font-size: 0.875rem;
  font-weight: 500;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  cursor: pointer;

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px $background, 0 0 0 4px $ring;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }


  > svg {
    pointer-events: none;
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
  }


  height: 2.5rem;
  padding: 0.5rem 1rem;
}


.sm {
  height: 2.25rem;
  padding: 0 0.75rem;
}


.lg {
  height: 2.75rem;
  padding: 0 2rem;
}


.icon {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;
}



.default {
  background-color: $primary;
  color: $primary-foreground;
  border: 1px solid $primary;
  &:hover {
    background-color: rgba($primary, 0.9);
    border-color: rgba($primary, 0.9);
  }
}


.destructive {
  background-color: $danger;
  color: $destructive-foreground;
  border: 1px solid $danger;
  &:hover {
    background-color: rgba($danger, 0.9);
    border-color: rgba($danger, 0.9);
  }
}

.outline {
  border: 1px solid $input;
  background-color: $background;
  color: $foreground;
  &:hover {
    background-color: $accent;
    color: $accent-foreground;
    border-color: $accent;
  }
}

.secondary {
  background-color: $secondary;
  color: $secondary-foreground;
  border: 1px solid $secondary;
  &:hover {
    background-color: rgba($secondary, 0.8);
    border-color: rgba($secondary, 0.8);
  }
}


.ghost {
  background-color: transparent;
  border: 1px solid transparent;
  color: $foreground;
  &:hover {
    background-color: $accent;
    color: $accent-foreground;
  }
}


.link {
  background-color: transparent;
  border: 1px solid transparent;
  color: $primary;
  text-underline-offset: 4px;
  &:hover {
    text-decoration: underline;
  }
}