@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;

.header {
  display: flex;
  gap: 1rem;
  align-items: center;

  .headerText {
    text-align: center
  }
}

.iconBox {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: $radius-md;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($success, 0.2);
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
}

.subtitle {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: $muted-foreground;
}

.content {
  padding-top: 0.5rem;
}
